{% extends 'navbar.html' %}
{% block title %}Minuta{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 class="display-4 text-center">Minuta de supervisión del mes "{{ mes }}" del {{ trimestre_word }} trimestre de {{ anyo }}</h2>
        <h4 class="text-center">Actividades de fiscalización registradas de {{ oic }}:</h4>
        <div class="row justify-content-center">
            {% for actividad in actividades %}
                <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                    <div class="card text-center" style="border-radius: 15px; width: 100%;">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            {% if actividad.tipo == 'auditoría' %}
                                <i class="fas fa-file-alt fa-3x mb-3"></i>
                            {% elif actividad.tipo == 'intervención' %}
                                <i class="fas fa-file-contract fa-3x mb-3"></i>
                            {% elif actividad.tipo == 'control interno' %}
                                <i class="fas fa-tasks fa-3x mb-3"></i>
                            {% endif %}
                            <h5 class="card-title">{{ actividad.numero }}</h5>
                            <p class="card-text">{{ actividad.denominacion }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
