{% extends 'navbar.html' %}
{% block title %}Minuta{% endblock %}
{% block content %}

<h1 class="display-2 text-center">Minuta</h1>
<h5 class="display-5 text-center">Actividad de fiscalización:</h5>
<h6 class="card-subtitle mb-4 text-body-secondary text-center text-muted">{{ fiscalizacion }}</h6>
<div class="d-flex justify-content-around flex-wrap">
    <div class="card text-center mb-3 shadow" style="border-radius: 20px; width: 15vw; height: 15vw;">
        <a href="{% url 'minuta_mes' fiscalizacion.id 1 %}" class="text-decoration-none text-dark custom-card-link"
           style="display: flex; flex-direction: column; justify-content: center; height: 100%; text-align: center;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <i class="fas fa-file-alt fa-4x"></i>
                <h5 class="card-title mt-3" style="font-size: 1.2rem;">Mes 1</h5>
            </div>
        </a>
    </div>
    <div class="card text-center mb-3 shadow" style="border-radius: 20px; width: 15vw; height: 15vw;">
        <a href="{% url 'minuta_mes' fiscalizacion.id 2 %}" class="text-decoration-none text-dark custom-card-link"
           style="display: flex; flex-direction: column; justify-content: center; height: 100%; text-align: center;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <i class="fas fa-file-contract fa-4x"></i>
                <h5 class="card-title mt-3" style="font-size: 1.2rem;">Mes 2</h5>
            </div>
        </a>
    </div>
    <div class="card text-center mb-3 shadow" style="border-radius: 20px; width: 15vw; height: 15vw;">
        <a href="{% url 'minuta_mes' fiscalizacion.id 3 %}" class="text-decoration-none text-dark custom-card-link"
           style="display: flex; flex-direction: column; justify-content: center; height: 100%; text-align: center;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <i class="fas fa-tasks fa-4x"></i>
                <h5 class="card-title mt-3" style="font-size: 1.2rem;">Mes 3</h5>
            </div>
        </a>
    </div>
</div>

<style>
    .custom-card-link:hover {
        text-decoration: none;
    }

    .custom-card-link:hover .card-title,
    .custom-card-link:hover i {
        color: #000000;
        transition: color 0.3s ease-in-out;
    }

    .card {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    }
</style>

{% endblock %}
