{% load static %}
<!-- navbar.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} default {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'LOGO_2023.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                theme: "bootstrap-5"
            });
        });
    </script>
    {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(169,169,169,0.1)">

    <a class="navbar-brand" href="{% url 'home' %}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="{% static 'scg-logo.png' %}" alt="Logo" width="200">
            <span style="font-size: 0.3rem;">DIRECCIÓN GENERAL DE COORDINACIÓN DE ÓRGANOS INTERNOS DE CONTROL SECTORIAL "C"</span>
        </div>
    </a>


    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <!-- Home -->
            <li class="nav-item {% if request.path == '/OICSecLP/home/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="navbar-text"> |</li>
            <!-- Auditorias -->
            <li class="nav-item {% if request.path == '/OICSecLP/auditorias/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'auditorias' %}">Auditorias <span class="sr-only">(current)</span></a>
            </li>

            <li class="navbar-text"> |</li>
            <!-- Intervenciones -->
            <li class="nav-item {% if request.path == '/OICSecLP/intervenciones/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'intervenciones' %}">Intervenciones <span class="sr-only">(current)</span></a>
            </li>

            <li class="navbar-text"> |</li>
            <!-- Control Interno -->
            <li class="nav-item {% if request.path == '/OICSecLP/control_interno/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'controlInterno' %}">Control Interno <span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- Observaciones Pendiente
            
            -->

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
                <span class="navbar-text">
                    Bienvenido,
                </span>
            </li>
            <li class="nav-item mr-4 {% if request.path == '/OICSecLP/perfil/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'perfil' %}">{{ user.username }}</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 100px;">
    <!-- Ajusta el margen superior para evitar que el contenido se superponga con la barra de navegación fija -->
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
