{% extends 'navbar.html' %}
{% block title %}Directorio de Personas{% endblock %}
{% block content %}

    <style>
        .list-group-item {
            margin-bottom: 10px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .list-group-item a {
            font-weight: bold;
            color: #a9a9a9;
            text-decoration: none;
        }

        .list-group-item a:hover {
            color: #000000;
        }

        .auditoria-number {
            font-size: 1.2em;
            color: #28a745;
        }

        .pagination .page-link {
            background-color: #ffffff;
            border: 1px solid #343a40;
            color: #000000;
            padding-top: .375rem;
        }

        .pagination .page-link:hover {
            background-color: #23272b;
            border-color: #23272b;
        }

        .pagination .page-item.active .page-link {
            background-color: #23272b;
            border-color: #23272b;
        }

        .pagination .page-item.disabled .page-link {
            background-color: #ffffff;
            border-color: #6c757d;
        }
    </style>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="display-4">Directorio de Personas</h1>
            <div class="d-flex">
                <a href="{% url 'directorios' %}" class="btn btn-outline-dark mr-2">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div>

        <!-- Filtrado por nombre -->
        <form id="filtroForm" action="{% url 'personas' %}" method="GET"
              class="container-fluid mb-4 align-items-center">
            <div class="row mt-xl-4">
                <div class="col-3">
                    <label for="nombre" class="form-label">Filtrar por nombre:</label>
                </div>
                <div class="col-9">
                    <select name="nombre" id="nombre" class="select2 form-control">
                        <option value="">Todos</option>
                        {% for persona in lista_personas %}
                            <option value="{{ persona }}"
                                    {% if persona == nombre %}selected{% endif %}>
                                {{ persona }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    
        <!-- Personas -->
        <ul class="list-group">
            {% for persona in page_obj %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'persona_detalle' persona.id %}" class="text_decoration_none">
                            <span class="auditoria-number">{{ persona.apellido }} {{ persona.nombre }}</span>
                            | {{ persona.id_cargo.cargo }} {{ persona.id_oic }}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="container mt-3">
        <!-- Paginación -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page=1{% if nombre %}&nombre={{ nombre }}{% endif %}"
                           aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if nombre %}&nombre={{ nombre }}{% endif %}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if nombre %}&nombre={{ nombre }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if nombre %}&nombre={{ nombre }}{% endif %}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if nombre %}&nombre={{ nombre }}{% endif %}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <script>
        $(document).ready(function () {
            $('.select2').select2({
                theme: "bootstrap-5"
            }).on('change', function () {
                $(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}
