{% extends 'navbar.html' %}
{% block title %}Personal de OIC{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-7">Personal de:</h1>
        <div class="d-flex">
            <a href="{% url 'oics' %}" class="btn btn-outline-dark mr-2">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div><h5 class="display-8">{{ oic }}</h5></div>

    <div class="mt-5">
        <h2 class="mb-4">Titular</h2>
        <div class="row">
            {% if titular %}
                <div class="oic-card col-12 col-md-4 mb-4">
                    <a href="{% url 'editar_titular_view' titular.id %}" class="text-decoration-none text-dark custom-card-link">
                        <div class="card h-100 text-center">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h4 class="card-title">{{ titular.id_persona.honorifico }} {{ titular.id_persona.nombre }} {{ titular.id_persona.apellido }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
            <!-- Card extra para titular -->
            <div class="oic-card col-12 col-md-4 mb-4">
                <a href="#" class="text-decoration-none text-dark custom-card-link">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <i class="fas fa-plus extra-card"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="mb-4">Personal</h2>
        <div class="row">
            {% for person in personal %}
                <div class="oic-card col-12 col-md-4 mb-4">
                    <a href="{% url 'editar_personal_view' person.id %}" class="text-decoration-none text-dark custom-card-link">
                        <div class="card h-100 text-center">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h4 class="card-title">{{ person.id_persona.nombre }} {{ person.id_persona.apellido }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <!-- Card extra para personal -->
            <div class="oic-card col-12 col-md-4 mb-4">
                <a href="#" class="text-decoration-none text-dark custom-card-link">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <i class="fas fa-plus extra-card"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <style>
        .card {
            min-height: 150px; /* Asegura un tamaño mínimo */
        }

        .custom-card-link:hover {
            text-decoration: none;
        }

        .custom-card-link:hover i,
        .custom-card-link:hover h5 {
            text-decoration: none;
        }

        .extra-card {
            font-size: 5rem;
            font-weight: bold;
        }
    </style>
{% endblock %}
