{% extends 'navbar.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <style>
        /* Estilos generales */
        body {
            background-color: #f7f9fc; /* Fondo claro */
            font-family: 'Roboto', sans-serif;
        }

        .container {
            margin-top: 3rem;
        }

        .card {
            background: #ffffff;
            border: none;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra elegante */
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px); /* Efecto hover */
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); /* Más sombra */
        }

        .card-header {
            background-color: #343a40; /* Color gris oscuro */
            color: #fff;
            text-align: center;
            padding: 2rem;
            border-radius: 20px 20px 0 0;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-control {
            background: #f4f5f7;
            border: none;
            padding: 0.75rem;
            border-radius: 10px;
            transition: all 0.3s ease;
        }

        .form-control:focus {
            background: #e9ecef;
            border: 1px solid #495057; /* Gris oscuro */
            box-shadow: none;
        }

        label {
            font-weight: 500;
            color: #6c757d; /* Gris */
        }

        /* Estilos para botones */
        .btn-outline-dark {
            background-color: #343a40;
            color: white;
            border-radius: 50px;
            font-weight: 600;
            padding: 0.75rem 1.5rem;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease;
        }

        .btn-outline-dark:hover {
            background-color: #495057;
            transform: translateY(-2px); /* Efecto hover */
        }

        /* Estilos para alertas */
        .alert {
            border-radius: 50px;
            font-size: 0.9rem;
            text-align: center;
            padding: 0.75rem;
            transition: opacity 0.4s ease;
        }

        /* Barra de progreso de la fortaleza de la contraseña */
        .progress {
            height: 10px;
            border-radius: 50px;
            background-color: #e9ecef;
            margin-bottom: 1rem;
        }

        .progress-bar {
            border-radius: 50px;
            transition: width 0.3s ease-in-out;
        }

        /* Estilos para los requisitos de la contraseña */
        .password-requirement {
            font-size: 0.9rem;
            color: #dc3545;
            transition: color 0.3s ease;
        }

        .password-requirement.fulfilled {
            color: #28a745; /* Verde */
        }

        .password-requirement.nothing {
            color: #6c757d; /* Gris */
        }

        /* Estilo para el mensaje de la fortaleza de la contraseña */
        .oval-background {
            border-radius: 20px;
            padding: 5px 15px;
            display: inline-block;
            color: white;
            font-weight: bold;
            font-size: 1rem;
        }

        .bg-danger {
            background-color: #dc3545; /* Rojo */
        }

        .bg-warning {
            background-color: #ffc107; /* Amarillo */
        }

        .bg-info {
            background-color: #17a2b8; /* Azul claro */
        }

        .bg-primary {
            background-color: #007bff; /* Azul */
        }

        .bg-success {
            background-color: #28a745; /* Verde */
        }

        /* Animaciones */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .card-body {
            animation: fadeInUp 0.5s ease both;
        }
        
        .messages {
            list-style: none;
            padding: 0;
            margin: 20px 0;
        }
        
        .messages li {
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 20px;
            font-size: 1rem;
            transition: all 0.3s ease;
        }
        
        .messages li.alert {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            font-weight: bold;
        }
        
        .messages li.alert-success {
            background-color: #d4edda; /* Verde claro */
            color: #155724;
        }
        
        .messages li.alert-danger {
            background-color: #f8d7da; /* Rojo claro */
            color: #721c24;
        }
        
        .messages li.alert-warning {
            background-color: #fff3cd; /* Amarillo claro */
            color: #856404;
        }
        
        .messages li.alert-info {
            background-color: #d1ecf1; /* Azul claro */
            color: #0c5460;
        }
        
        .btn-close {
            background: none;
            border: none;
            font-size: 1.25rem;
            opacity: 0.7;
            float: right;
            line-height: 0;
            color: #000;
        }
        
        .btn-close:hover {
            opacity: 1;
        }


    </style>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
                    <li class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header display-4">Editar Perfil</div>

                    <div class="card-body">
                        <form method="POST" action="{% url 'perfil' %}">
                            {% csrf_token %}
                            
                            <!-- Cambiar nombre de usuario -->
                            <div class="form-group">
                                <label for="username" class="form-label">Nombre de Usuario</label>
                                <input id="username" type="text" class="form-control" name="username" value="{{ user.username }}" required autocomplete="username" autofocus>
                                {% if duplicated_profile %}
                                    <div class="mt-2">
                                        <div class="alert alert-warning" role="alert">
                                            <strong>{{ duplicated_profile }}</strong>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Cambiar nombre -->
                            <div class="form-group">
                                <label for="first_name" class="form-label">Nombre</label>
                                <input id="first_name" type="text" class="form-control" name="first_name" value="{{ user.first_name }}" required autocomplete="given-name">
                            </div>

                            <!-- Cambiar apellido -->
                            <div class="form-group">
                                <label for="last_name" class="form-label">Apellido</label>
                                <input id="last_name" type="text" class="form-control" name="last_name" value="{{ user.last_name }}" required autocomplete="family-name">
                            </div>

                            <!-- Cambiar contraseña -->
                            <div class="form-group">
                                <label for="password" class="form-label">Contraseña Actual</label>
                                <input id="password" type="password" class="form-control" name="password" required autocomplete="current-password">
                                {% if error_password %}
                                    <div class="mt-2">
                                        <div class="alert alert-danger" role="alert">
                                            <strong>{{ error_password }}</strong>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Nueva contraseña -->
                            <div class="form-group">
                                <label for="new_password" class="form-label">Nueva Contraseña</label>
                                <input id="new_password" type="password" class="form-control" name="new_password">
                            </div>

                            <!-- Progreso de fortaleza de contraseña -->
                            <div class="form-group">
                                <div class="progress">
                                    <div id="password_strength_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <span id="password_strength_message"></span>
                            </div>

                            <!-- Lista de requisitos de contraseña -->
                            <div class="form-group">
                                <ul id="password_requirements" class="list-unstyled">
                                    <li class="password-requirement nothing">Al menos 8 caracteres</li>
                                    <li class="password-requirement nothing">Al menos una letra mayúscula</li>
                                    <li class="password-requirement nothing">Al menos una letra minúscula</li>
                                    <li class="password-requirement nothing">Al menos un número</li>
                                </ul>
                            </div>

                            <!-- Confirmar contraseña -->
                            <div class="form-group">
                                <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
                                <input id="confirm_password" type="password" class="form-control" name="confirm_password">
                            </div>

                            <div class="form-group">
                                <span id="password_match_message"></span>
                            </div>

                            <!-- Botón de guardar cambios -->
                            <div class="form-group text-center">
                                <button id="submit_button" type="submit" class="btn btn-outline-dark w-100">
                                    Guardar Cambios
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var newPasswordChanged = false;

            // Comprobar las contraseñas y requisitos
            $('#confirm_password, #new_password').on('keyup', function () {
                newPasswordChanged = true;
                checkPasswordsAndRequirements();
            });

            function checkPasswordsAndRequirements() {
                var password = $('#new_password').val();
                var confirmPassword = $('#confirm_password').val();
                var requirements = $('#password_requirements li');
                var allRequirementsMet = true;

                if (password === confirmPassword) {
                    $('#password_match_message').text('Las contraseñas coinciden').css('color', 'green');
                } else {
                    $('#password_match_message').text('Las contraseñas no coinciden').css('color', 'red');
                    allRequirementsMet = false;
                }

                if (newPasswordChanged) {
                    requirements.each(function () {
                        var requirement = $(this);
                        var regex;
                        switch (requirement.index()) {
                            case 0:
                                regex = /.{8,}/;
                                break;
                            case 1:
                                regex = /[A-Z]/;
                                break;
                            case 2:
                                regex = /[a-z]/;
                                break;
                            case 3:
                                regex = /\d/;
                                break;
                        }
                        if (!regex.test(password)) {
                            requirement.removeClass('fulfilled nothing').addClass('not-fulfilled');
                            allRequirementsMet = false;
                        } else {
                            requirement.removeClass('not-fulfilled nothing').addClass('fulfilled');
                        }
                    });
                }

                $('#submit_button').prop('disabled', !allRequirementsMet || password !== confirmPassword);
            }

            $('#new_password').on('keyup', function () {
                var password = $(this).val();
                var result = zxcvbn(password);
                var score = result.score;
                var progressClass = '';
                var message = '';
                switch (score) {
                    case 0:
                        progressClass = 'bg-danger';
                        message = 'Constraseña muy débil';
                        break;
                    case 1:
                        progressClass = 'bg-warning';
                        message = 'Contraseña débil';
                        break;
                    case 2:
                        progressClass = 'bg-info';
                        message = 'Contraseña aceptable';
                        break;
                    case 3:
                        progressClass = 'bg-primary';
                        message = 'Contraseña fuerte';
                        break;
                    case 4:
                        progressClass = 'bg-success';
                        message = 'Contraseña muy fuerte';
                        break;
                }
                $('#password_strength_progress').removeClass().addClass('progress-bar ' + progressClass).css('width', (score * 25) + '%');
                $('#password_strength_message').text(message).removeClass().addClass('oval-background text-center').addClass(progressClass);
            });
        });
    </script>

{% endblock %}
