{% extends 'navbar.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <style>
        .oval-background {
            border-radius: 20px; /* Ajusta el radio según tus preferencias */
            padding: 1px 15px; /* Ajusta el relleno según tus preferencias */
            display: inline-block; /* Para que el contorno se ajuste al texto */
        }

        .password-requirement {
            color: red; /* Color inicial para los requisitos no cumplidos */
        }

        .password-requirement.fulfilled {
            color: green; /* Color para los requisitos cumplidos */
        }

        .password-requirement.nothing {
            color: gray; /* Color inicial del texto de la lista */
        }
    </style>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header display-4">Editar Perfil</div>
                    {% if success_password %}
                        <div class="col-md-auto mt-2">
                            <div class="alert alert-success fade show" role="alert"
                                 style="font-size: 0.8em;">
                                <strong>{{ success_password }}</strong>
                            </div>
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <form method="POST" action="{% url 'perfil' %}">
                            {% csrf_token %}

                            <!-- Cambiar nombre de usuario -->
                            <div class="form-group row">
                                <label for="username" class="font-weight-bold col-md-4 col-form-label text-md-right">Nombre
                                    de
                                    Usuario</label>

                                <div class="col-md-6">
                                    <input id="username" type="text" class="form-control" name="username"
                                           value="{{ user.username }}" required autocomplete="username" autofocus>
                                    {% if duplicated_profile %}
                                        <div class="text-center mt-2">
                                            <div class="alert alert-warning  text-center mx-auto" role="alert"
                                                 style="font-size: 0.8em;">
                                                <strong>{{ duplicated_profile }}</strong>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Cambiar nombre -->
                            <div class="form-group row">
                                <label for="first_name" class="font-weight-bold col-md-4 col-form-label text-md-right">Nombre</label>

                                <div class="col-md-6">
                                    <input id="first_name" type="text" class="form-control" name="first_name"
                                           value="{{ user.first_name }}" required autocomplete="given-name">
                                </div>
                            </div>

                            <!-- Cambiar apellido -->
                            <div class="form-group row">
                                <label for="last_name" class="font-weight-bold col-md-4 col-form-label text-md-right">Apellido</label>

                                <div class="col-md-6">
                                    <input id="last_name" type="text" class="form-control" name="last_name"
                                           value="{{ user.last_name }}" required autocomplete="family-name">
                                </div>
                            </div>

                            <!-- Cambiar contraseña -->
                            <div class="form-group row">
                                <label for="password" class="font-weight-bold col-md-4 col-form-label text-md-right">Contraseña
                                    Actual</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" required
                                           autocomplete="current-password">

                                    {% if error_password %}
                                        <div class="col-md-auto mt-2">
                                            <div class="alert alert-danger fade show text-center mx-auto" role="alert"
                                                 style="font-size: 0.8em;">
                                                <strong>{{ error_password }}</strong>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>


                            <!-- Nueva contraseña -->
                            <div class="form-group row">
                                <label for="new_password"
                                       class="font-weight-bold col-md-4 col-form-label text-md-right">Nueva
                                    Contraseña</label>

                                <div class="col-md-6">
                                    <input id="new_password" type="password" class="form-control" name="new_password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="progress">
                                        <div id="password_strength_progress" class="progress-bar" role="progressbar"
                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <span id="password_strength_message"></span>
                                </div>
                            </div>

                            <!-- Lista de requisitos de contraseña -->
                            <div class="form-group row">
                                <label class="font-weight-bold col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6" id="password_requirements_container">
                                    <ul id="password_requirements">
                                        <li class="password-requirement nothing">Al menos 8 caracteres</li>
                                        <li class="password-requirement nothing">Al menos una letra mayúscula</li>
                                        <li class="password-requirement nothing">Al menos una letra minúscula</li>
                                        <li class="password-requirement nothing">Al menos un número</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Confirmar contraseña -->
                            <div class="form-group row">
                                <label for="confirm_password"
                                       class="font-weight-bold col-md-4 col-form-label text-md-right">Confirmar
                                    Contraseña</label>
                                <div class="col-md-6">
                                    <input id="confirm_password" type="password" class="form-control"
                                           name="confirm_password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <span id="password_match_message"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button id="submit_button" type="submit" class="btn btn-outline-dark">
                                        Guardar Cambios
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var newPasswordChanged = false; // Variable para controlar si se ha cambiado la contraseña nueva

            // Función para comprobar la contraseña y los requisitos
            $('#confirm_password, #new_password').on('keyup', function () {
                newPasswordChanged = true; // Se establece como true cuando se modifica la contraseña nueva
                checkPasswordsAndRequirements();
            });

            function checkPasswordsAndRequirements() {
                var password = $('#new_password').val();
                var confirmPassword = $('#confirm_password').val();
                var requirements = $('#password_requirements li');
                var allRequirementsMet = true;

                // Verificar si las contraseñas coinciden
                if (password === confirmPassword) {
                    $('#password_match_message').text('Las contraseñas coinciden').css('color', 'green');
                } else {
                    $('#password_match_message').text('Las contraseñas no coinciden').css('color', 'red');
                    allRequirementsMet = false;
                }

                // Verificar requisitos de contraseña solo si se ha cambiado la contraseña nueva
                if (newPasswordChanged) {
                    requirements.each(function () {
                        var requirement = $(this);
                        var regex;
                        switch (requirement.index()) {
                            case 0:
                                regex = /.{8,}/; // Al menos 8 caracteres
                                break;
                            case 1:
                                regex = /[A-Z]/; // Al menos una letra mayúscula
                                break;
                            case 2:
                                regex = /[a-z]/; // Al menos una letra minúscula
                                break;
                            case 3:
                                regex = /\d/; // Al menos un número
                                break;
                        }
                        if (!regex.test(password)) {
                            requirement.removeClass('fulfilled nothing').addClass('not-fulfilled');
                            allRequirementsMet = false;
                        } else {
                            requirement.removeClass('not-fulfilled nothing').addClass('fulfilled');
                        }
                    });
                }

                // Habilitar o deshabilitar el botón
                $('#submit_button').prop('disabled', !allRequirementsMet || password !== confirmPassword);
            }

            // Función para verificar la fortaleza de la contraseña
            $('#new_password').on('keyup', function () {
                var password = $(this).val();
                var result = zxcvbn(password);
                var score = result.score;
                var progressClass = '';
                var message = '';
                switch (score) {
                    case 0:
                        progressClass = 'bg-danger';
                        message = 'Constraseña muy debil';
                        break;
                    case 1:
                        progressClass = 'bg-warning';
                        message = 'Contraseña debil';
                        break;
                    case 2:
                        progressClass = 'bg-info';
                        message = 'Contraseña aceptable';
                        break;
                    case 3:
                        progressClass = 'bg-primary';
                        message = 'Contraseña fuerte';
                        break;
                    case 4:
                        progressClass = 'bg-success';
                        message = 'Contraseña muy fuerte';
                        break;
                }
                $('#password_strength_progress').removeClass().addClass('progress-bar ' + progressClass).css('width', (score * 25) + '%');
                $('#password_strength_message').text(message).removeClass().addClass('oval-background offset-md-0 text-md-center').addClass(progressClass);

                checkPasswordRequirements();
            });

        });
    </script>

{% endblock %}
